
			
			body {
				font-family: "Arial", sans-serif;
				box-sizing: border-box;
				
			}
			
			
			.header {
				background-color: #45cc5b;
				color: #ffffff;
				text-align: left;
				width: 2000px;
				margin-top: -10px;
				height: 70px;
				box-shadow: 3px 3px 3px gray;
			}
			[class*="col-"] {
				float: left;
				padding: 15px;
				box-sizing: border-box;
			}
			.horizontal ul {
				background-color :#45cc5b;
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				box-sizing: border-box;
				color: #ffffff;
			}
			.horizontal li {
				padding: 0px;
				background-color :#45cc5b;
				color: #ffffff;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				width: 20%;
				float: left;
				text-align: center;
				box-sizing: border-box;
			}
			.horizontal li:hover {
				background-color: #308F40;
				color: black;
				box-sizing: border-box;
			}
			
			a {
color: white;
text-decoration: none;
}

			.title {
				background-color: #45cc5b;
				color: #ffffff;
				text-align: left;
				box-sizing: border-box;
				
			}
			.footer {
				
				color: #000000;
				text-align: center;
				font-size: 12px;
				box-sizing: border-box;
			}
			
			.p {
				color: #000000;
				text-align: justify;
				box-sizing: border-box;
			}
			
			/* For mobile phones: */
			[class*="col-"] {
				width: 100%;
				
			}
			.horizontal li {font-size:0.7em;}
			@media (min-width: 600px) {
				/* For tablets: */
				.horizontal li {font-size:1em;}
				.col-m-12 {width: 8.33%;}
				.col-m-2 {width: 16.66%;}
				.col-m-3 {width: 25%;}
				.col-m-4 {width: 33.33%;}
				.col-m-5 {width: 41.66%;}
				.col-m-6 {width: 50%;}
				.col-m-7 {width: 58.33%;}
				.col-m-8 {width: 66.66%;}
				.col-m-9 {width: 75%;}
				.col-m-10 {width: 83.33%;}
				.col-m-11 {width: 91.66%;}
				.col-m-12 {width: 100%;}
				
			}
			@media (min-width: 768px) {
				/* For desktop: */
				.horizontal li {font-size:1em;}
				.col-1 {width: 8.33%;}
				.col-2 {width: 16.66%;}
				.col-3 {width: 25%;}
				.col-4 {width: 33.33%;}
				.col-5 {width: 41.66%;}
				.col-6 {width: 50%;}
				.col-7 {width: 58.33%;}
				.col-8 {width: 66.66%;}
				.col-9 {width: 75%;}
				.col-10 {width: 83.33%;}
				.col-11 {width: 91.66%;}
				.col-12 {width: 100%;}
				
			}

	